<%- include("./layouts/header.ejs") %>

    <div class=" container mt-5 mb-5 border col-md-4 rounded">

        <center>
            <h3 class="mb-3 mt-3">Forget Password</h3>
        </center>
        <form method="POST">
            <input type="email" class="form-control col-md" required placeholder="Enter Email" name="email">
            <br>
            <input type="submit" value="Forget Password" class="btn btn-outline-info">
        </form>

        <% if(typeof message !=='undefined' ){ %>
            <p style="color: red;">
                <%= message %>
            </p>
            <% } %>


    </div>
    <%- include("./layouts/footer.ejs") %>