<%- include('./layouts/header.ejs') %>

    <div class="container col-md-4 border rounded border-danger mb-5  mt-5">
        <center>
            <h3 class="mt-4 mb-4">Login</h3>
        </center>


        <% if(typeof message !=='undefined' ){ %>
            <p style="color: red;">
                <%= message %>
            </p>
            <% } %>

                <form action="" method="POST">

                    <div class="row">
                        <div class="col-md">
                            <input type="email" class="form-control" name="email" placeholder="Enter Email" required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md">
                            <input type="password" class="form-control" name="password" placeholder="Enter Password"
                                required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md">
                            <input type="submit" value="login" class="btn btn-outline-info mb-3">
                        </div>
                    </div>

                </form>

                <a href="/forget-password" class="text-danger">Forget Password ?</a>
    </div>

    <%- include('./layouts/footer.ejs') %>